.wonoly-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.wonoly-button--primary {
  color: white;
}

.wonoly-button--secondary {
  color: #333;
  background-color: transparent;
}

.wonoly-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.wonoly-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.wonoly-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
